.App {
    height: 853px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold ;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}


.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card-image {
    width: 100%;
    height: 235px;
    border-radius: 13px;
    margin-bottom: 13px;
}

 .card-stats {
    display: flex;
    align-items: center;
}

.star {
    height: 14px;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--price {
    margin-top: auto;
}
 
